.header{
    text-align: center;
    font-size: 60px;
    font-family: Verdana, sans-serif;
    background-color:rgb(56, 0, 0);
    color: #ffffff;
}

.dv1{
    text-align: center;
    font-size: 18px;
    background-color: rgb(108, 30, 30);
    border: 5px solid rgb(117, 107, 53);
}

body{
    background-color:wheat;
}

.receita{
    color:rgb(224, 215, 215);
}